.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: rgba(255,255,255,0.5);
  border-radius: 15px;
  position: fixed;
  width: 97%;
  top: 10px;
  z-index: 2;
  .navbar-light {
    color: pink;
  }

  a {
    margin-right: 50px;
    color: white;

  }

  a:hover {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }
}

.navbar-light {
  color: pink;
}

.avatar {
 border: 3px dotted pink;
}

.navbar-lewagon:hover {
  justify-content: space-between;
  background: white;
  background-color: rgba(255,127,143,0.8);
  border-radius: 15px;
  position: fixed;
  width: 97%;
  top: 10px;
  z-index: 3;
  .avatar {
   border: 3px dotted white;
 }

 #navbardrop {
  color: white;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: blue;
  &:hover {
    border-bottom: 2px solid white;
  }
}

.navbar-toggler {
  color: transparent;
  background: rgba(255,255,255,0.5);
  opacity: 0.6;
}


.dropdown-item {
  color: white;


  &:hover{
    background-color: transparent;
    color: white;
    text-decoration: underline;
    font-weight: bolder;
  }
}

.dropdown-menu {
  background-color: light-gray;
}


//cor de dentro do balao dropdown foto
.dropdown-menu {
  border-radius: 15px;
  background-color: #FFA5A5;
}

//cor do 'Roupas' no navbar
#navbardrop {
  color: #FFA5A5;
}

