// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  min-height: 80vh;
  background-color: #f7f7f7;
  padding: 0px 0px 0px 0px;
   /* pra home ficar "encaixada" tem que tirar o padding */
  /* margin bottom = footer height */
}

.container {
  min-height: 98vh;
  padding: 0px 0px 0px 0px;

}

